<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>EnergyCert</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ProcessSendEmailServlet</servlet-name>
    <servlet-class>form.ProcessSendEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessSendEmailServlet</servlet-name>
    <url-pattern>/form/processsendemail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessMasterServlet</servlet-name>
    <servlet-class>form.ProcessMasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessMasterServlet</servlet-name>
    <url-pattern>/form/processmaster</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CalculateServlet</servlet-name>
    <servlet-class>visual.CalculateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculateServlet</servlet-name>
    <url-pattern>/visual/calculate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmailServlet</servlet-name>
    <servlet-class>visual.EmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailServlet</servlet-name>
    <url-pattern>/visual/processShare</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessLoginServlet</servlet-name>
    <servlet-class>account.ProcessLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessLoginServlet</servlet-name>
    <url-pattern>/processlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessLogoutServlet</servlet-name>
    <servlet-class>account.ProcessLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessLogoutServlet</servlet-name>
    <url-pattern>/processlogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessChangeServlet</servlet-name>
    <servlet-class>account.ProcessChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessChangeServlet</servlet-name>
    <url-pattern>/account/processchange</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessRetrievalServlet</servlet-name>
    <servlet-class>account.ProcessRetrievalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessRetrievalServlet</servlet-name>
    <url-pattern>/account/processretrieval</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessCreationServlet</servlet-name>
    <servlet-class>admin.ProcessCreationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessCreationServlet</servlet-name>
    <url-pattern>/admin/processcreation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessDeletionServlet</servlet-name>
    <servlet-class>admin.ProcessDeletionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessDeletionServlet</servlet-name>
    <url-pattern>/admin/processdeletion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessManagementServlet</servlet-name>
    <servlet-class>admin.ProcessManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessManagementServlet</servlet-name>
    <url-pattern>/admin/processmgmt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessEditServlet</servlet-name>
    <servlet-class>admin.ProcessEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessEditServlet</servlet-name>
    <url-pattern>/admin/processedit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessEditWeatherServlet</servlet-name>
    <servlet-class>admin.ProcessEditWeatherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessEditWeatherServlet</servlet-name>
    <url-pattern>/admin/processeditweather</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessAddWeatherServlet</servlet-name>
    <servlet-class>admin.ProcessAddWeatherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessAddWeatherServlet</servlet-name>
    <url-pattern>/admin/processaddweather</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessCreateAcctServlet</servlet-name>
    <servlet-class>client.ProcessCreateAcctServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessCreateAcctServlet</servlet-name>
    <url-pattern>/client/processcreateacct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessDeleteAcctServlet</servlet-name>
    <servlet-class>client.ProcessDeleteAcctServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessDeleteAcctServlet</servlet-name>
    <url-pattern>/client/processdeleteacct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessManageAcctServlet</servlet-name>
    <servlet-class>client.ProcessManageAcctServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessManageAcctServlet</servlet-name>
    <url-pattern>/client/processmanageacct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessImportServlet</servlet-name>
    <servlet-class>client.ProcessImportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessImportServlet</servlet-name>
    <url-pattern>/client/processimport</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessImportWhServlet</servlet-name>
    <servlet-class>client.ProcessImportWhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessImportWhServlet</servlet-name>
    <url-pattern>/client/processimportwh</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessAddWhServlet</servlet-name>
    <servlet-class>client.ProcessAddWhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessAddWhServlet</servlet-name>
    <url-pattern>/client/processaddwh</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessDeleteWhServlet</servlet-name>
    <servlet-class>client.ProcessDeleteWhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessDeleteWhServlet</servlet-name>
    <url-pattern>/client/processdeletewh</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessManageWhServlet</servlet-name>
    <servlet-class>client.ProcessManageWhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessManageWhServlet</servlet-name>
    <url-pattern>/client/processmanagewh</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessManagePeriodServlet</servlet-name>
    <servlet-class>client.ProcessManagePeriodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessManagePeriodServlet</servlet-name>
    <url-pattern>/client/processmanageperiod</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessImportDataServlet</servlet-name>
    <servlet-class>db.ProcessImportDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessImportDataServlet</servlet-name>
    <url-pattern>/processimportdata</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageWarehouse</servlet-name>
    <servlet-class>visual.ManageWarehouse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageWarehouse</servlet-name>
    <url-pattern>/visual/portfolio</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RetrieveCountryList</servlet-name>
    <servlet-class>visual.RetrieveCountryList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveCountryList</servlet-name>
    <url-pattern>/visual/retrieveCountry</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RetrieveRegionList</servlet-name>
    <servlet-class>visual.RetrieveRegionList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveRegionList</servlet-name>
    <url-pattern>/visual/retrieveRegion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GenerateChart</servlet-name>
    <servlet-class>visual.GenerateChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateChart</servlet-name>
    <url-pattern>/visual/generate</url-pattern>
  </servlet-mapping>
</web-app>